<!--a feed-->
<div id="item<%=topic.id%>" class="buzz_feed">
<!-- corners -->
	<div class="round_10_tl corner_tl"></div>
	<div class="round_10_tr corner_tr"></div>
	<div class="round_10_bl corner_bl"></div>
	<div class="round_10_br corner_br"></div>
	<!-- control bar-->
	<div id="buzz_control" class="buzz_control rate_fav">
		
		
		<%= link_to "", item_vote_path(topic, :score => "1", :format => :js), :method => :post, :class => vote_status(topic, :btn_up), :remote => :true %>
		<p id="buzz_rate" class="buzz_rate"><%= topic.score %></p>
		<%= link_to "", item_vote_path(topic, :score => "-1", :format => :js), :method => :post, :class => vote_status(topic, :btn_down), :remote => :true %>

	</div>

	<!-- feed content -->
	<div id="buzz_content_holder" class="buzz_content_holder">
	  <%= link_to topic.title, topic.url, :class => :buzz_title, :id => :title %>

		<br />
    
    <%= link_to topic.author.username, "", :class => :buzz_author, :id => :author %>
    <%= t(:post_at) %>
		<span id="time" class="buzz_time"><%= time_ago_in_words topic.created_at %></span>
		<%= t(:ago) %>
		|<%= link_to "链接", item_path(topic) %>

		<p class="buzz_content"><%= topic.text %></p>

	</div>

	<div id="buzz_comment" class="buzz_comment">
	  <%= link_to "嗡一下", new_comment_path(:parent => topic), :remote => :true %>
		(<%= link_to tree_count(topic), item_path(topic)%>)
	</div>

</div>
<!--end of a feed-->
