<% javascript :defaults %>
<div id="main" class="">

	<!-- feed-list -->
	<div id="feed_list_container" class="viewfix" style="width:756px">
		<div class="round_15_tl corner_tl"></div>				
		<div class="round_15_tr corner_tr"></div>
		<div class="round_15_bl corner_bl"></div>
		<div class="round_15_br corner_br"></div>
		<div id="feed_list">

      <%= render :partial => @item %>
      
      <!-- comment tree-->
      <% render_tree @item do |result, level| %>
        <div class="children" style="margin-left:<%= level * 25 %>px">
        <%= result %>
        </div>
      <% end %>
      <!-- end of comment tree-->
		</div>
	</div>
	<!--end of feed list-->


</div>

<!-- side bar -->
<div id="side_bar" style="width:176px">
	<ul class="side_bar_clearfix">
		<li id="btn_buzz" ><%= link_to "", new_topic_path, :class => :btn_buzz_short, :remote => true %></li>
		<li id="btn_main" ><%= link_to "", new_topic_path, :class => :btn_main_short, :remote => true %></li>
	</ul>

</div>
