<% javascript :defaults, 'endless_page', 'sidebar' %>
<div id="page_type" style="display:none"><%= @type %></div>
<div id="intro">
	<h1><%= t('.intro.title') %></h1>
	<p><%= t('.intro.detail')%><a href=""><%= t('.intro.link')%></a></p>
	
</div>


<div id="main" class="">
	
	<!-- tab_bar -->
	<div id="tab_bar" class="clearfix">
		<ul id="tab_list">
			<li>
				<div class="tab_unselected_tl corner_tl"></div>
				<div class="tab_unselected_tr corner_tr"></div>
				<a href="/best">最好的</a>
			</li>
			<li>
				<div class="tab_unselected_tl corner_tl"></div>
				<div class="tab_unselected_tr corner_tr"></div>
				<a href="/recent">最近的</a>
			</li>
			<li>
				<div class="tab_unselected_tl corner_tl"></div>
				<div class="tab_unselected_tr corner_tr"></div>								
				<a href="worst">最烂的</a>
			</li>
		</ul>
	</div>

	<!-- feed-list -->
	<div id="feed_list_container" class="clearfix">
		<div class="round_15_tr corner_tr"></div>
		<div class="round_15_bl corner_bl"></div>
		<div class="round_15_br corner_br"></div>
		<div id="feed_list">
		  
		  <%= render :partial => @topics %>
		  
      
		</div>
		<p id="loading">Loading more page results...</p>
	</div>
	<!--end of feed list-->

</div>

<!-- side bar -->
<div id="side_bar">
	<ul class="side_bar_clearfix">
		<li id="btn_buzz" ><%= link_to "", new_topic_path, :class => :btn_buzz %></li>
		<li id="btn_yell" ><%= link_to "", new_topic_path, :class => :btn_yell %></li>
	</ul>

	<div id="ad_container">
		<div id="ad_title" class="ad_title">
			<p></p>
		</div>
		<div id="ad_content_container" class="ad_content_container">广告内容
		</div>
	</div>

	
	<div id="recent_comments_container">
		<div id="rc_title" class="rc_title">
			
		</div>
		<div id="rc_content_container" class="rc_content_container">
			<div class="round_15_tl corner_tl"></div>
			<div class="round_15_tr corner_tr"></div>
			<div class="round_15_bl corner_bl"></div>
			<div class="round_15_br corner_br"></div>			
			<div id="rc_content">
				<div id="rc_feed" class="rc_feed">
					<div class="round_10_tl corner_tl"></div>
					<div class="round_10_tr corner_tr"></div>
					<div class="round_10_bl corner_bl"></div>
					<div class="round_10_br corner_br"></div>
					<a>Absolutely. And the fact that he is merging onto another highway clinches it. it lends an air of mystery and exclusivity. why can't i take that road...where does it go?</a>
				</div>

				<div id="rc_feed" class="rc_feed">
					<div class="round_10_tl corner_tl"></div>
					<div class="round_10_tr corner_tr"></div>
					<div class="round_10_bl corner_bl"></div>
					<div class="round_10_br corner_br"></div>
					<a>Absolutely. And the fact that he is merging onto another highway clinches it. it lends an air of mystery and exclusivity. why can't i take that road...where does it go?</a>
				</div>

				<div id="rc_feed" class="rc_feed">
					<div class="round_10_tl corner_tl"></div>
					<div class="round_10_tr corner_tr"></div>
					<div class="round_10_bl corner_bl"></div>
					<div class="round_10_br corner_br"></div>
					<a>Absolutely. And the fact that he is merging onto another highway clinches it. it lends an air of mystery and exclusivity. why can't i take that road...where does it go?</a>
				</div>
			</div>

			
		</div>
	</div>

	

</div>

<div id="footer" class="clearfix">
	<div id="legal_container">&trade; &copy;2011 Wengweng Team. All rights reserved.</div>
</div>
