<% javascript :defaults, 'endless_page', 'sidebar' %>
<div id="page_type" style="display:none"><%= @type %></div>
<div id="intro">
	<h1><%= t('.intro.title') %></h1>
	<p><%= t('.intro.detail')%><%= link_to t('.intro.link'), new_topic_path %></p>
</div>


<div id="main" class="">
	
	<!-- tab_bar -->
	<div id="tab_bar" class="clearfix">
		<ul id="tab_list">
			<li>
				<div class="tab_unselected_tl corner_tl"></div>
				<div class="tab_unselected_tr corner_tr"></div>
				<a href="/best">最好的</a>
			</li>
			<li>
				<div class="tab_unselected_tl corner_tl"></div>
				<div class="tab_unselected_tr corner_tr"></div>
				<a href="/recent">最近的</a>
			</li>
			<li>
				<div class="tab_unselected_tl corner_tl"></div>
				<div class="tab_unselected_tr corner_tr"></div>								
				<a href="worst">最烂的</a>
			</li>
		</ul>
	</div>

	<!-- feed-list -->
	<div id="feed_list_container" class="clearfix">
		<div class="round_15_tr corner_tr"></div>
		<div class="round_15_bl corner_bl"></div>
		<div class="round_15_br corner_br"></div>
		<div id="feed_list">
		  
		  <%= render :partial => @topics %>
		  
      
		</div>
		<div id="loading"></div>
	</div>
	<!--end of feed list-->

</div>

<!-- side bar -->
<div id="side_bar">
	<ul class="side_bar_clearfix">
		<li id="btn_buzz" ><%= link_to "", new_topic_path, :class => :btn_buzz, :remote => true %></li>
		<li id="btn_yell" ><%= link_to "", new_topic_path, :class => :btn_yell, :remote => true %></li>
	</ul>
	
	<div id="recent_comments_container">
		<div id="rc_title" class="rc_title">
			
		</div>
		<div id="rc_content_container" class="rc_content_container">
			<div class="round_15_tl corner_tl"></div>
			<div class="round_15_tr corner_tr"></div>
			<div class="round_15_bl corner_bl"></div>
			<div class="round_15_br corner_br"></div>			
			<div id="rc_content">
				<div id="rc_feed" class="rc_feed">
					<div class="round_10_tl corner_tl"></div>
					<div class="round_10_tr corner_tr"></div>
					<div class="round_10_bl corner_bl"></div>
					<div class="round_10_br corner_br"></div>
					<a>Absolutely. And the fact that he is merging onto another highway clinches it. it lends an air of mystery and exclusivity. why can't i take that road...where does it go?</a>
				</div>

				<div id="rc_feed" class="rc_feed">
					<div class="round_10_tl corner_tl"></div>
					<div class="round_10_tr corner_tr"></div>
					<div class="round_10_bl corner_bl"></div>
					<div class="round_10_br corner_br"></div>
					<a>Absolutely. And the fact that he is merging onto another highway clinches it. it lends an air of mystery and exclusivity. why can't i take that road...where does it go?</a>
				</div>

				<div id="rc_feed" class="rc_feed">
					<div class="round_10_tl corner_tl"></div>
					<div class="round_10_tr corner_tr"></div>
					<div class="round_10_bl corner_bl"></div>
					<div class="round_10_br corner_br"></div>
					<a>Absolutely. And the fact that he is merging onto another highway clinches it. it lends an air of mystery and exclusivity. why can't i take that road...where does it go?</a>
				</div>
			</div>

			
		</div>
	</div>
	<a id="scroll_to_top" style="display:none" href="#"></a>

</div>
