<!DOCTYPE html>
<html>
<head>
  <title>Buzzbuzz</title>
  <%= stylesheet_link_tag :all %>
  <%= yield(:head) -%>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="outer_wrap">
  <div id="inner_wrap">
    <div id="header">
      <div id="logo" class="">
				<a href="/">
					<img src="/images/logo_s.png" alt="wengweng">
				</a>
			</div>
			
			<div id="navigator" class="">
				<div id="cap_left" class=""></div>
				
				

				<div id="search_bar">
						<button id="btn_search" class="" type="submit"></button>
						<input class="input_tip" type="text" value="" name="q" autocomplete="off" >
								
				</div>

				<ul id="nav_list">
					<li><a href="#">有问题</a></li>
					<li><a href="#">试手气</a></li>
					<li>
					<% if user_signed_in? %>
				    <%= link_to "登出", destroy_user_session_path %></li>
				  <% else %>
				    <%= link_to "登陆", new_user_session_path %>
				  <% end %>
				  </li>
				</ul>
				
				<div id="account" class="">
				  <% if user_signed_in? %>
				    <%= link_to "我是 " + current_user.username, user_path(current_user)%>
					<% else %>
					  <%= link_to "来注册下", new_user_registration_path %>
					<% end %>
				</div>

			</div>
			
    </div>
    <!--cap-->
		<div id="content_cap" class="clearfix"></div>
		
		<div id="content_holder" class="clearfix">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
  